{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Leader price !</h1>
            <p class="lead">Liste de course </p>
        </div>
    </div>    
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">Beurre</li>
            <li class="list-group-item">Lait</li>
            <li class="list-group-item">Fromage</li>
            <li class="list-group-item">Sauce tomate</li>
            <li class="list-group-item">Thé vert</li>
        </ul>
        <br /><br />
        <ul>
            <button type="button" class="btn btn-info">Valider</button>
        </ul>
        <br /><br />
        {# Test d'angular #}
        <div ng-app="">
            <p>Entrez un nouvel article:</p>
            <p>Article: <input type="text" ng-model="name"></p>
            <p ng-bind="name"></p>
        </div>
    </div>
{% endblock %}

